// color palette
$black-bg: #121212;
$grey-bg: #1e1e1e;
$black-txt: #171717;
$white-text: #ededed;

$my-primary: #86fcf6;
$my-secondary: #D2DE44;

$drk-prim: darken($color: $my-primary, $amount: 10);
$lgt-prim: lighten($color: $my-primary, $amount: 10);

$lgt-sec: lighten($color: $my-secondary, $amount: 10);

